body{
    background-color: black;
}
#abaCadastro{
    animation: aparecer 2s;
color: rgb(0, 255, 255);

    border-radius: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    border: blue solid 2px;
animation: fundoAnimado 1s  ease-in-out infinite;
transition: 1s;
}
.estilo{
    border-radius: 4vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
animation: fundoAnimado2 1s alternate-reverse ease-in-out infinite;

}
@keyframes fundoAnimado{
    0%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 0%,rgb(0, 255, 255) 0%, rgba(0,47,240,1) 5%, rgba(0,0,0,1) 5%);
    }
    10%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 5%,rgb(0, 255, 255) 5%, rgba(0,47,255,1) 10%, rgb(0, 0, 0) 10%);
    }
    20%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 15%,rgb(0, 255, 255) 15%, rgba(0,47,240,1) 20%, rgba(0,0,0,1) 20%);
    }
    30%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 25%,rgb(0, 255, 255) 25%, rgba(0,47,225,1) 30%, rgb(0, 0, 0) 30%);
    }
    40%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 35%,rgb(0, 255, 255) 35%, rgba(0,47,210,1) 40%, rgba(0,0,0,1) 40%);
    }
    50%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg, rgb(0, 0, 0) 45%,rgb(0, 255, 255) 45%,rgba(0,47,195,1) 50%, rgb(0, 0, 0) 50%);
    }
    60%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 55%,rgb(0, 255, 255) 55%, rgba(0,47,180,1) 60%, rgba(0,0,0,1) 60%);
    }
    70%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 65%,rgb(0, 255, 255) 65%, rgba(0,47,165,1) 70%, rgb(0, 0, 0) 70%);
    }
    80%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 75%,rgb(0, 255, 255) 75%, rgba(0,47,150,1) 80%, rgba(0,0,0,1) 80%);
    }
    90%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 85%,rgb(0, 255, 255) 85%, rgba(0,47,135,1) 90%, rgb(0, 0, 0) 90%);
    }
    100%{
        background: rgb(0,47,255);
        background: linear-gradient(90deg,rgb(0, 0, 0) 95%,rgb(0, 255, 255) 95%, rgba(0,47,120,1) 100%, rgba(0,0,0,1) 100%);
    }
}
@keyframes fundoAnimado2{
    0%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%,rgb(0, 255, 255) 0%, rgba(0,47,240,1) 5%,rgba(0, 0, 0, 0) 5%);
    }
    10%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 5%,rgb(0, 255, 255) 5%, rgba(0,47,255,1) 10%, rgba(0, 0, 0, 0) 10%);
    }
    20%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 15%,rgb(0, 255, 255) 15%, rgba(0,47,240,1) 20%,rgba(0, 0, 0, 0) 20%);
    }
    30%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 25%,rgb(0, 255, 255) 25%, rgba(0,47,225,1) 30%, rgba(0, 0, 0, 0) 30%);
    }
    40%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 35%,rgb(0, 255, 255) 35%, rgba(0,47,210,1) 40%,rgba(0, 0, 0, 0) 40%);
    }
    50%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%,rgb(0, 255, 255) 45%,rgba(0,47,195,1) 50%, rgba(0, 0, 0, 0) 50%);
    }
    60%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 55%,rgb(0, 255, 255) 55%, rgba(0,47,180,1) 60%,rgba(0, 0, 0, 0) 60%);
    }
    70%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 65%,rgb(0, 255, 255) 65%, rgba(0,47,165,1) 70%, rgba(0, 0, 0, 0) 70%);
    }
    80%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 75%,rgb(0, 255, 255) 75%, rgba(0,47,150,1) 80%,rgba(0, 0, 0, 0) 80%);
    }
    90%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 85%,rgb(0, 255, 255) 85%, rgba(0,47,135,1) 90%, rgba(0, 0, 0, 0) 90%);
    }
    100%{
        background: rgb(0,47,255);
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 95%,rgb(0, 255, 255) 95%, rgba(0,47,120,1) 100%,rgba(0, 0, 0, 0) 100%);
    }
}
@keyframes aparecer{
    from{
        transform: translateY(200px);
    }
}
 button{
    outline: none;
color: rgb(0, 255, 255);
background-color: rgb(0, 0, 0);
border: cyan solid 2px;
}
#abaCadastro button:hover{
    opacity: 0.3;
}
input{
    outline: none;

    background-color: cyan;
    color: black;
    border-radius: 4vh;
}

#vez{
    text-align: center;
    width: 75vh;
    color: cyan;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-jogo{
    height: 75vh;
    width: 75vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linha{
    height: 25vh;
    width: 25vh;
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#um{
border-left:none;
border-top: none;
}
#dois{
    border-top: none;
}
#tres{
    border-right:none ;
    border-top: none;
}
#quatro{
    border-left: none;
}
#seis{
    border-right:none ;
}
#sete{
    border-left: none;
    border-bottom: none;
}
#oito{
    border-bottom: none;
}
#nove{
    border-bottom: none;
    border-right:none;
}
.img_click{
    height: 20vh;
}
.timeDeJogo{
    position: absolute;
    top: 2vh;
    height: 2vh;
    width: 100vh;
    background-color: cyan;
    transition: 0.1s;
}